<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    {{>header}}

    <h1>HAKKINDA</h1>
    <img src="image/unnamed.png" alt="unnamed">
  </body>
</html>
