<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <form method="get">
    <p>weather</p>
<input type="text" name="weather">
<p>adress</p>
<input type="text" name="adress">
<button type="submit">dqwwqd</button>
    </form>
  </body>
</html>
